<ul id='questionarea'>
<%=@current_question %>
<% answer_fields = @answer %>
<ol>
<div id = 'hidden_field_usr' >
<%=hidden_field_tag :user_id, {:value => params[:id]}  %>
</div>
<div id = 'hidden_field_question' >
<%=hidden_field_tag :questionid, {:value => @current_question_id} %>
</div>
  <div id='agree'>
  <p><%= radio_button(answer_fields, :agree, 5) %> I completely agree</p>
  <p><%= radio_button(answer_fields, :agree, 4) %> I agree<p>
  <p><%= radio_button(answer_fields, :agree, 3) %> I kind of agree<p>
  <p><%= radio_button(answer_fields, :agree, 2) %> I disagree<p>
  <p><%= radio_button(answer_fields, :agree, 1) %> I completely disagree<p>
  </div>
 <div id='importance'>
  <p>
  <p><%= radio_button(answer_fields, :importance, 3) %> I kind of agree<p>
  <p><%= radio_button(answer_fields, :importance, 2) %> I disagree<p>
  <p><%= radio_button(answer_fields, :importance, 1) %> I completely disagree<p>
  </p>
</div>

<div>
  <p id ='comments'>Comments:
      <p><%= text_field (answer_fields, :comments) %> <p>
  </p>
</div>
<%@data = { :category => @category.id ,:questionid => @current_question_id } %>

</ul>
